{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Liste de vos patients</h2>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Raison de visite</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                <tr>
                    <td>{{ patient.user.nom }}</td>
                    <td>{{ patient.user.prenom }}</td>
                    <td>{{ patient.raison_de_visite }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}